@{
    ViewBag.Title = "Toplantı başvuru";
    Layout = "_Layout2";
}
<h1 class="h4">@ViewData[index: "Selamlama"], @ViewData[index: "UserName"]</h1>
<p>Toplantı katılım durumunuzu belirtiniz.</p>
<a class="btn btn-sm btn-outline-primary" asp-controller="Meeting" asp-action="Apply">Başvuru Yap</a>    